@font-face {
	src:url(../fonts/OpenSans-Bold.ttf);
	font-family:obold;
}
@font-face {
	src:url(../fonts/OpenSans-Light.ttf);
	font-family:olight;
}
@font-face {
	src:url(../fonts/OpenSans-Regular.ttf);
	font-family:open;
}
a{
	font:12px Calibri;
	text-decoration:none;
}
body{
	background-image:url(../img/background.jpg);
	background-size:100%;
}
.container-fluid{
	margin:0 auto;
	width:1270px;
	margin-top:30px;
	background-color:white;
	box-shadow:0px 0px 10px #999999;

}
.top-nav{
	background-color:#2e3537;
	border-radius:5px 5px 0 0;
	height:50px;
}
.container{
	margin:0 auto;
	width:1170px;
}
.top-nav .container img{
	margin-top:15px;
}
.address{
	float:left;
}
.address ul li{
	display:inline;
	margin-right:20px;
	color:#999999;
}
.address ul li a{
	font:16px Calibri;
	margin-left:10px;
}
.cart{
	float:right;
	color:#999999;
	line-height:45px;
}
.cart a{
	margin:5px;
}
header{
	background-color:#ffffff;
	height:80px;
}
header img{
	float:left;
	margin-left:45px;
	margin-top:13px;
}
header .nav{
	float:right;
}
header .nav ul li{
	float:left;
	margin-left:25px;
	line-height:80px;
}
header .nav ul li i{
	margin-left:5px;
}
header .nav ul li a{
	font:16px Calibri;
	color:#333333;
	transition:all ease-in-out 0.3s;
}
header .nav ul li a:hover{
	color:#e74c3c;
}
.two-rounds{
	margin-top:18px;
	margin-right:45px;
	float:right;
}
.two-rounds ul li{
	float:left;
	margin-left:15px;
}
.two-rounds ul li i{
	color:#999999;
	font-size:16px;
	border:1px solid #999999;
	height:40px;
	width:40px;
	text-align:center;
	line-height:40px;
	border-radius:40px;
}
.slider{
	background-image:url(../img/images-5.jpg);
	background-size:cover;
	color:white;
	background-attachment:fixed;
}
.overlay{
	background-color:rgba(0,0,0,0.5);
}
.slider-top{
	padding-top:110px;
	text-align:center;
}
.slider-top h1{
	font:60px obold;
}
.slider-top p{
	margin-top:65px;
	font:18px olight;
}
.slider-btn{
	margin-top:45px;
}
.slider-btn a{
	display:inline-block;
	font:16px open;
	width:190px;
	height:50px;
	border:2px solid #ffffff;
	line-height:50px;
}
.slider-btn a i{
	margin-left:10px;
}
.slider-btn a.simple{
	border:none;
	margin:0 -60px;
	font-family:olight;
}
.slider-font{
	margin-top:95px;
	margin-bottom:30px;
}
.one-third{
	width:32%;
	float:left;
	margin-right:2%;
}
.one-third:last-child{
	margin-right:0;
}
.one-third ul li i{
	height:40px;
	width:40px;
	text-align:center;
	line-height:40px;
	background-color:#31aae2;
	border-radius:40px;
}
.one-third ul li{
	margin-bottom:20px;
}
.one-third ul li a{
	font:20px olight;
	margin-left:10px;
}
.super-blog{
	background-color:#e74c3c;
	color:white;
	height:133px;
}
.super-blog a{
	font:22px olight;
	line-height:133px;
}
.learn{	
	float:right;
	line-height:133px;
}
.learn button{
	border:2px solid white;
	height:50px;
	width:200px;
	font-size:16px;
	background-color:transparent;
	color:white;
}
.learn button i{
	margin-left:5px;
}
.area-top{
	margin-top:80px;
	text-align:center;
}
.area-top h1{
	font:38px olight;
	color:#333333;
	margin-bottom:20px;
}
.area-top h1 span{
	color:#e74c3c;
}
.area-top .line{
	height:2px;
	width:680px;
	margin-bottom:20px;
    background: radial-gradient(#e8e8e8, transparent);
}
.line1{
	height:2px;
	width:680px;
	margin-bottom:20px;
    background: radial-gradient(#d9dbda, transparent);
}
.area-top a{
	font:16px open;
	color:#777777;
}
.area-top p{
	float:right;
	margin-right:90px;
	font:16px Calibri;
	font-style:italic;
}
.area-top i{
	color:#e74c3c;
	font-size:26px;
	margin-left:-800px;
}
.column{
	background-color:white;
	margin-top:30px;
	margin-bottom:150px;
}
.column .one-third{
	text-align:center;
}
.column i{
	height:80px;
	width:80px;
	border-radius:80px;
	background-color:transparent;
	border:1px solid #7d7d7d;
	line-height:80px;
	font-size:26px;
	color:#777777;
	text-align:center;
}
.column h1{
	color:#333333;
	font:24px open;
	margin-top:10px;
	margin-bottom:20px;
}
.column a{
	color:#777777;
	font:14px open;
}
.mobile{
	text-align:center;
	padding-bottom:80px;
}
.mobile-blog{
	margin-top:25px;
	margin-bottom:60px;
}
.mobile-blog i{
	margin-top:10px;
	height:70px;
	width:70px;
	border-radius:70px;
	text-align:center;
	line-height:70px;
	color:white;
	font-size:25px;
	float:left;
}
.dark-blue{
	background-color:#1b90a2;	
}
.pink{
	background-color:#e10765;	
}
.golden{
	background-color:#ff9c00;	
}
.light-blue{
	background-color:#4ad0eb;	
}
.light-green{
	background-color:#b3d735;	
}
.saint{
	background-color:#b99a7b;	
}
.mobile-blog h1{
	float:left;
	font:24px open;
	margin-left:10px;
}
.mobile-blog p{
	margin-top:15px;
	font:14px open;
	float:left;
	margin-left:10px;
	text-align:left;
	line-height:25px;
}
.slider1{
	background-image:url(../img/img-1.jpg);
	background-size:cover;
	color:white;
	background-attachment:fixed;
}
.slider2{
	background-image:url(../img/second.jpg);
	background-size:cover;
	color:white;
	background-attachment:fixed;
}
.john{
	text-align:center;
	padding-bottom:60px;
}
.john img{
	border-radius:95px;
	margin-top:80px;
	margin-bottom:20px;
}
.john h1{
	padding-top:50px;
}
.read{
	margin-top:45px;
}
.read-more{
	background-color:#fafafa;
	border:2px solid #efefef;
	text-align:center;
}
.read-more img{
	width:100%;
}
.read-more h1{
	font:20px olight;
	margin-top:25px;
	margin-bottom:25px;
}
.read-more a{
	font:12px open;
	color:#adadad;
}
.read-more p{
	margin:25px 0px;
	font:14px open;
	line-height:25px;
}
.read-more a.btn{
	border:1px solid #e74c3c;
	border-radius:30px;
	color:#e74c3c;
	font-size:15px;
	display:block;
	height:50px;
	width:200px;
	text-align:center;
	line-height:50px;
	margin-bottom:15px;
}	 
.margin{
	margin-top:75px;
}
.working{
	margin-top:5px;
	margin-left:20px;
}
.work{
	float:left;
	border:3px solid #e74c3c;
	height:155px;
	width:155px;
	text-align:center;
	margin:0px 63px;
	border-radius:5px;
	margin-bottom:70px;
}
.work h1{
	color:#666666;
	font:42px open;
	margin-top:40px;
	margin-bottom:-7px;
}
.work a{
	font:14px open;
	color:#e74c3c;
}
#footer{
	background-color:#313131;
}
.one-fourth{
	width:22%;
	float:left;
	margin-right:4%;
}
.one-fourth:last-child{
	margin-right:0;
}
.foot-1{
	margin-top:25px;
	color:#777777;
	font:15px Calibri;
	line-height:20px;
	text-align:justify;
}
.foot-icon ul{
	margin-top:20px;
	margin-bottom:30px;
}
.foot-icon ul li{
	display:inline;
	margin-top:25px;
}
.foot-icon ul li i{
	border:1px solid #777777;
	height:38px;
	width:38px;
	border-radius:38px;
	text-align:center;
	line-height:38px;
	margin:0 4px;
	font-size:20px;
	transition:all ease-in-out 0.3s;
}
.foot-icon ul li i.fa-facebook:hover{
	background-color:#3b5998;
	border:1px solid #3b5998;
	color:white;
}
.foot-icon ul li i.fa-twitter:hover{
	background-color:#0084b4;
	border:1px solid #0084b4;
	color:white;
}
.foot-icon ul li i.fa-pinterest:hover{
	background-color:#c8232c;
	border:1px solid #c8232c;
	color:white;
}
.foot-icon ul li i.fa-google-plus:hover{
	background-color:#d34836;
	border:1px solid #d34836;
	color:white;
}
.foot-icon ul li i.fa-linkedin:hover{
	background-color:#0077B5;
	border:1px solid #0077B5;
	color:white;
}
.foot-add ul li{
	line-height:30px;
}
.foot-add i{
	color:#e74c3c;
	margin-right:5px;
	font-size:20px;
	width:20px;
	text-align:center;
}
.foot-add a{
	font:18px Calibri;
}
.foot-form{
	margin-top:15px;
}
.foot-form input{
	width:100%;
	height:35px;
	padding-left:15px;
	background-color:transparent;
	border:2px solid #4a4a4a;
	margin-bottom:20px;
}
.foot-form .sub{
	width:100px;
	padding-left:0;
	background-color:#e74c3c;
	border:1px solid #e74c3c;
	color:white;
	transition:all ease-in-out 0.3s;
}
.foot-form .sub:hover{
	background-color:#8a251b;
	border:1px solid #8a251b;
}
.foot-blog{
	margin-top:20px;
	margin-bottom:30px;
}
.foot-blog img{
	float:left;
}
.foot-blog h1{
	color:#ffffff;
	font:14px open;	
	margin-top:18px;
	margin-bottom:4px;
	margin-left:60px;
}
.foot-blog a{
	margin-left:10px;
}
.foot-line{
	height:1px;
	border:none;
	background: #282828; /* Old browsers */
	background: -moz-linear-gradient(left, #282828 1%, #313131 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #282828 1%,#313131 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #282828 1%,#313131 100%);
}
.foot-img{
	
}
.foot-img img{
	height:78px;
	width:78px;
	margin:2px;
	opacity:0.5;
	transition:all ease-in-out 0.3s;
}
.foot-img img:hover{
	opacity:1;
}
.foot-img img.last{
	float:right;
}
.last-line{
	height:65px;
	background-color:#2d2d2d;
	margin-top:60px;
}
.last-line h1{
	text-align:center;
	color:#6a6a6a;
	font:16px open;
	line-height:65px;
}
.last-line span{
	color:#959595;
}